<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Video Management</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
              <div class="input-group">
                  <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                  <span class="input-group-addon">Search</span>
              </div>
            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#create-video">Create New</button>
        </div>
    </div>
</div><!-- end row-->

<table class="table table-bordered pagin-table">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created by</th>
            <th width="220px">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="value in data | itemsPerPage:20" total-items="totalItems">
            <td>{{ $index + 1 }}</td>
            <td>{{ value.title }}</td>
            <td>{{ value.description }}</td>
            <td>{{ value.user.created_by }}</td>
            <td>
            <button data-toggle="modal" ng-click="edit(value.id)" data-target="#edit-data" class="btn btn-primary">Edit</button>
            <button ng-click="remove(value,$index)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" >
</dir-pagination-controls>


<ul ng-repeat="category in categories">
    <li>{{ category.name }}</li>

</ul>


<!-- Create Modal -->
<div class="modal fade" id="create-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Video</h4>
            </div>

            <div class="modal-body">
                <form method="POST" name="addVideo" role="form" ng-submit="saveAdd(addVideo.$valid)" novalidate>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="
                        {
                            'has-error':!addVideo.title.$valid && (!addVideo.title.$pristine || addVideo.$submitted),
                            'has-success': addVideo.title.$valid && (!addVideo.title.$pristine || addVideo.$submitted)
                        }
                        ">
                            <label for="videoTitle" class="control-label">Video Title : </label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="video.title"
                                   placeholder="Video Name"
                                   name="title"
                                   required />

                            <p class="help-block" ng-show="addVideo.title.$error.required && (!addVideo.$pristine || addVideo.$submitted)">This Field is required</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="categorytitle" class="control-label">Category : </label>
                            <select ng-options='option.name for option in typeOptions track by option.id' ng-model="cat_id" name="category_id" class="form-group">
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="
                        {
                            'has-error':!addVideo.description.$valid && (!addVideo.description.$pristine || addVideo.$submitted),
                            'has-success': addVideo.description.$valid && (!addVideo.description.$pristine || addVideo.$submitted)
                        }
                        ">
                            <label for="videoDesciption" class="control-label">Video Description : </label>
                            <textarea class="form-control"
                                      ng-model="video.description"
                                      name="description"
                                      required="required">
                            </textarea>
                            <p class="help-block" ng-show="addVideo.description.$error.required && (!addVideo.$pristine || addVideo.$submitted)">This Field is required</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="
                        {
                            'has-error':!addVideo.url.$valid && (!addVideo.url.$pristine || addVideo.$submitted),
                            'has-success': addVideo.url.$valid && (!addVideo.url.$pristine || addVideo.$submitted)
                        }
                        ">
                            <label for="videoLink" class="control-label">Video Link : </label>
                            <input type="url"
                                   class="form-control"
                                   ng-model="video.video_link"
                                   id="url"
                                   placeholder="http://"
                                   required="required"
                                   name="url"/>

                            <p class="help-block" ng-show="addVideo.url.$error.required && (!addVideo.$pristine || addVideo.$submitted)">This Field is required</p>
                            <p class="help-block" ng-show="addVideo.url.$error.url && (!addVideo.$pristine || addVideo.$submitted)">Please enter a valid url http://</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sx-12 col-sm-12 col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" ng-disabled="addVideo.$invalid" class="btn btn-primary">Submit</button>
                            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
            </div>

            <div class="modal-body">

                <form method="POST" name="editVideo" role="form" ng-submit="saveEdit(editVideo.$valid)">
                    <input ng-model="editForm.id" type="hidden" placeholder="Name" name="name" class="form-control" />


                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="
                        {
                            'has-error':!editVideo.title.$valid && (!editVideo.title.$pristine || editVideo.$submitted),
                            'has-success': editVideo.title.$valid && (!editVideo.title.$pristine || editVideo.$submitted)
                        }
                        ">

                                <label for="videoTitle" class="control-label">Video Title : </label>
                                <input ng-model="editForm.title"
                                      type="text"
                                      name="title"
                                      class="form-control"
                                      required="required" />
                                <p class="help-block" ng-show="editVideo.title.$error.required && (!editVideo.$pristine || editVideo.$submitted)">This Field is required</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="categorytitle" class="control-label">Category : </label>
                            <select ng-options='option.name for option in typeOptions track by option.id' ng-model="cat_id" name="category_id" class="form-group">
                            </select>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="
                        {
                            'has-error':!editVideo.description.$valid && (!editVideo.description.$pristine || editVideo.$submitted),
                            'has-success': editVideo.description.$valid && (!editVideo.description.$pristine || editVideo.$submitted)
                        }
                        ">
                            <label for="videoDesciption" class="control-label">Video Description : </label>
                            <textarea ng-model="editForm.description"
                                      class="form-control"
                                      name="description"
                                      required="required">
                            </textarea>
                            <p class="help-block" ng-show="editVideo.description.$error.required && (!editVideo.$pristine || editVideo.$submitted)">This Field is required</p>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group" ng-class="
                        {
                            'has-error':!editVideo.url.$valid && (!editVideo.url.$pristine || editVideo.$submitted),
                            'has-success': editVideo.url.$valid && (!editVideo.url.$pristine || editVideo.$submitted)
                        }
                        ">
                            <label for="videoLink" class="control-label">Video Link : </label>
                            <input ng-model="editForm.video_link"
                                    type="url"
                                    name="url"
                                    class="form-control"
                                    required="required" />
                            <p class="help-block" ng-show="editVideo.url.$error.required && (!editVideo.$pristine || editVideo.$submitted)">This Field is required</p>
                            <p class="help-block" ng-show="editVideo.url.$error.url && (!editVideo.$pristine || editVideo.$submitted)">Please enter a valid url http://</p>
                        </div>
                    </div>


                    <div class="col-sx-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" ng-disabled="editVideo.$invalid" class="btn btn-primary create-crud">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
